@font-face {
    font-family: 'DejaVu Sans Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/dejavusansmono-webfont.woff') format(woff);
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/dejavusansmono-oblique-webfont.woff') format(woff);
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/dejavusansmono-bold-webfont.woff') format(woff);
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/dejavusansmono-boldoblique-webfont.woff') format(woff);
}