:root {
    --color-dark: #0b090a;
    --color-light: #fffff8;
    --color-primary: #d42222;
    --color-light-primary: #ffcccc;
    --font-family: 'Noto Sans', sans-serif;
    --default-padding: 0.5rem;
    --size-step-0: clamp(0.9375rem, 0.8723rem + 0.3261vi, 1.125rem);
    --size-step-1: clamp(1.125rem, 1.0272rem + 0.4891vi, 1.4063rem);
    --size-step-2: clamp(1.35rem, 1.2082rem + 0.7092vi, 1.7578rem);
    --size-step-3: clamp(1.62rem, 1.4192rem + 1.0039vi, 2.1973rem);
    --size-step-4: clamp(1.944rem, 1.6648rem + 1.3958vi, 2.7466rem);
}