:root {
    --color-dark: #000;
    --color-light: #fff;
    --color-primary: #d42222;
    --color-dark-primary: #9b0303;
    --color-light-primary: hsl(0, 100%, 95%);    
    --font-family: 'Victor Mono', monospace;
    --default-padding: 0.5rem;
    --default-grid-size: 17em;
    --default-grid-height: 300px;
    --default-outline-gap: 5px;
    --size-base: 100%;
    --size-step--2: clamp(0.6944rem, 0.6893rem + 0.0259vi, 0.72rem);
    --size-step--1: clamp(0.8333rem, 0.8198rem + 0.0675vi, 0.9rem);
    --size-step-0: clamp(1rem, 0.9747rem + 0.1266vi, 1.125rem);
    --size-step-1: clamp(1.2rem, 1.1582rem + 0.2089vi, 1.4063rem);
    --size-step-2: clamp(1.44rem, 1.3756rem + 0.3218vi, 1.7578rem);
    --size-step-3: clamp(1.728rem, 1.633rem + 0.4752vi, 2.1973rem);
    --size-step-4: clamp(2.0736rem, 1.9373rem + 0.6815vi, 2.7466rem);
    --size-step-5: clamp(2.4883rem, 2.2969rem + 0.9569vi, 3.4332rem);
}